numpy==1.26.4
pandas==2.3.3
scipy==1.13.1
statsmodels==0.14.0
matplotlib==3.9.2
geopandas==1.1.4
shapely==2.1.2
pyproj==3.7.2
pyogrio==0.12.1
certifi==2024.6.2
contourpy==1.2.0
cycler==0.11.0
fonttools==4.25.0
kiwisolver==1.4.4
packaging==24.2
patsy==0.5.3
pillow==10.2.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3.post1
six==1.16.0
tzdata==2023.3
